<mat-toolbar style="background: transparent">
  <mat-toolbar-row class="tool-ad">
    <span class="ad-text">Free Shipping Over $50 + 3 Free Samples With Every Order </span>
  </mat-toolbar-row>
  <mat-toolbar-row class="tool-logo">
    <span></span>
    <span class="logo-text">Whisper</span>
    <span>
      <button mat-icon-button disableRipple>
        <mat-icon>account_circle</mat-icon>
        <span class="login-text">Log In</span>
      </button>
      <button mat-icon-button disableRipple>
        <mat-icon>shopping_bag</mat-icon>
        <span class="login-text">Shop</span>
      </button>
    </span>
</mat-toolbar-row>
  <mat-toolbar-row class="tool-nav">
    <a mat-flat-button disableRipple>HOME</a>
    <a mat-flat-button disableRipple [matMenuTriggerFor]="belowMenu">SHOP</a>
    <a mat-flat-button disableRipple>PRESS</a>
    <a mat-flat-button disableRipple>ABOUT</a>
    <a mat-flat-button disableRipple>CONTACT</a>
  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #belowMenu="matMenu" yPosition="below">
  <a mat-menu-item disableRipple>Item 1</a>
  <a mat-menu-item disableRipple>Item 2</a>
</mat-menu>
