<mat-toolbar style="background-color: white;position: fixed;z-index: 100">
  <mat-toolbar-row class="tool-ad">
    <span class="ad-text">Free Shipping Over $50 + 3 Free Samples With Every Order </span>
  </mat-toolbar-row>
  <mat-toolbar-row class="tool-logo">
    <span></span>
    <span class="logo-text">Whisper</span>
    <span>
      <a href="#" mat-icon-button disableRipple>
        <mat-icon>account_circle</mat-icon>
        <span class="login-text">Log In</span>
      </a>
      <a routerLink="/cart" mat-icon-button disableRipple>
        <mat-icon>shopping_bag</mat-icon>
        <span class="login-text">Shop</span>
      </a>
    </span>
</mat-toolbar-row>
  <mat-toolbar-row class="tool-nav">
    <a routerLink="/home" mat-flat-button disableRipple>HOME</a>
    <a routerLink="/shop" mat-flat-button disableRipple [matMenuTriggerFor]="belowMenu">SHOP</a>
    <a routerLink="/press" mat-flat-button disableRipple>PRESS</a>
    <a routerLink="/about" mat-flat-button disableRipple>ABOUT</a>
    <a routerLink="/contact" mat-flat-button disableRipple>CONTACT</a>
  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #belowMenu="matMenu" yPosition="below" class="custom-menu">
  <a mat-menu-item disableRipple>EYES</a>
  <a mat-menu-item disableRipple>LIPS</a>
  <a mat-menu-item disableRipple>FACE</a>
  <a mat-menu-item disableRipple>CHEEKS</a>
</mat-menu>
