<div style="display: flex;flex-direction: column">
  <div class="footer-content">
    <div class="subscriber-us">
      <div>
        <span>JOIN OUR NEWSLETTER</span>
        <ng-form>
          <mat-form-field appearance="standard">
            <mat-label>Enter your email here</mat-label>
            <label>
              <input matInput type="email" required>
            </label>
          </mat-form-field>
          <button mat-flat-button disableRipple type="submit" class="subscribe-button">Subscribe Now</button>
        </ng-form>
      </div>
    </div>
    <div class="hot-href">
      <div>
        <span><a>Stockists</a></span>
        <span><a>About</a></span>
        <span><a>Contact</a></span>
      </div>
      <div>
        <span><a>FAQ</a></span>
        <span><a>Shipping & Returns</a></span>
        <span><a>Store Policy</a></span>
      </div>
      <div>
        <span><a>Facebook</a></span>
        <span><a>Instagram</a></span>
        <span><a>Pinterest</a></span>
      </div>
    </div>
  </div>
  <div class="brand">
    <span>© 2023 by Nude. Proudly created with Wix.com</span>
  </div>
</div>

