.main-container
  width: 90%
  padding-left: 5%
  padding-right: 5%
  .image-container
    display: flex
    width: 100%
    img
      width: 50%
  .section-container
    padding: 100px 30%
    h2
      letter-spacing: 0.1em
      font-family: sans-serif
    p
      font-family: serif
      padding-top: 20px
  .footer-container
    display: flex
    justify-content: center
    div
      text-align: center
      img
        width: 90%
