<div class="banner-images">
  <mat-carousel timings="500ms ease-in" [autoplay]=true [hideArrows]=true [hideIndicators]=false [interval]=3000 [useKeyboard]=false>
    <mat-carousel-slide *ngFor="let banner of banners" [image]=banner>
      <p class="banner-text-top">DISCOVER YOUR NEW ADDICTION</p>
      <p class="banner-text-medium">Mineral Based Makeup Products</p>
      <p class="banner-text-bottom"><a>SHOP NOW ></a></p>
    </mat-carousel-slide>
  </mat-carousel>
  <section class="section-one">
    <div style="position: relative;width: 48%">
      <img style="width: 100%" src="assets/section/1.webp" alt="">
      <div style="position: absolute;top: 15%;left: 15%;color: white">
        <p class="banner-text-top">SEASONAL ESSENTIALS</p>
        <p class="banner-text-medium">Must Have Moisturizing Lip Care</p>
        <p class="banner-text-bottom"><a>SHOP NOW ></a></p>
      </div>
    </div>
    <div style="position: relative;width: 48%">
      <img style="width: 100%" src="assets/section/2.webp" alt="">
      <div style="position: absolute;top: 15%;left: 15%">
        <p class="banner-text-top">START FRESH</p>
        <p class="banner-text-medium">New Makeup Removers</p>
        <p class="banner-text-bottom"><a>SHOP NOW ></a></p>
      </div>
    </div>
  </section>
  <p-carousel [value]="products" [numVisible]="3" [numScroll]="1" [circular]=true>
    <ng-template let-product pTemplate="item">
      <img style="width: 80%" src="{{ product.imageUrl }}" alt="">
    </ng-template>
  </p-carousel>
  <section></section>
</div>



