<div>
  <div style="text-align: center">
    <p style="font-size: x-large;font-weight: 100">Sign Up</p>
    <p style="font-size: smaller">
      <span style="margin-right: 15px">Already a member?</span>
      <span>
        <a style="text-decoration: none;color: chocolate" href="/signin">LogIn</a>
      </span>
    </p>
  </div>
  <form [formGroup]="emailLogin" (ngSubmit)="signup()" class="login-input">
    <P>
      <mat-form-field appearance="fill">
        <mat-label>Nick Name</mat-label>
        <label>
          <input matInput [formControl]="nickname" required>
        </label>
        <mat-error *ngIf="email.hasError('required')">Nick Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </P>
    <P>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <label>
          <input type="email" matInput [formControl]="email" required>
        </label>
        <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="email.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </P>
    <P>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <label>
          <input matInput [type]="hide ? 'password' : 'text'" required minlength="8" maxlength="15" [formControl]="password">
        </label>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="password.invalid">Please use a strong password</mat-error>
      </mat-form-field>
    </P>
    <P>
      <mat-form-field appearance="fill">
        <mat-label>Confirm</mat-label>
        <label>
          <input matInput [type]="hide ? 'password' : 'text'" required minlength="8" maxlength="15" [formControl]="confirm">
        </label>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error>Password doesn't match</mat-error>
      </mat-form-field>
    </P>
    <button mat-button type="submit" [disabled]="!emailLogin.valid">Submit</button>
    <button mat-button type="reset" [disabled]="!emailLogin.dirty">Cancel</button>
  </form>
</div>
