<div style="width: 1000px">
  <mat-grid-list rowHeight="500px" cols="3" gutterSize="2px" class="mat-grid-list">
    <mat-grid-tile *ngFor="let image of images">
      <div style="font-family: serif">
        <img src="{{ image }}" alt="resource not exist">
        <p>Satin Powder Blush</p>
        <p>$ 20.00</p>
        <div class="number-increase-decrease">
          <span>-</span>
          <span>1</span>
          <span>+</span>
        </div>
        <p style="text-align: center;margin-top: 10px"><a>ADD TO CART></a></p>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
