<div style="width: 1000px">
  <mat-grid-list rowHeight="500px" cols="3" gutterSize="2px" class="mat-grid-list">
    <mat-grid-tile *ngFor="let good of goodList">
      <div style="font-family: serif">
        <img src="{{ good.image_url }}" alt="resource not exist {{ good.image_url }}">
        <p>{{ good.description }}</p>
        <p>$ {{ good.price }}</p>
        <div class="number-increase-decrease">
          <span>-</span>
          <span>1</span>
          <span>+</span>
        </div>
        <p style="text-align: center;margin-top: 10px"><a>ADD TO CART></a></p>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
